/* The body of the site with background colour */
body {
	margin: 0;
	background-color: #d4c6b4;
}

/* A flex wrapper which styles the page layout */
.wrapper {
	display: flex;
	flex-flow: row wrap;
	text-align: center;
}

.wrapper>* {
	border-radius: 10px;
	flex: 1 100%;
	margin: 10px;
	padding: 10px;
}

/* Styling of the different-sized headings */
h1,
h2,
h3 {
	color: beige;
	text-align: center;
}

/* The hero image which spans the top part of each page */
.header {
	background-image: url('/images/hero-image.jpg');
	background-repeat: no-repeat center;
	background-size: cover;
	border-radius: 10px;
	padding: 70px 0;
    color: #FFFFFF;
}

/* navigation links */

nav > a {
	text-decoration: none;
	color: #692d02;
	font-size: 110%;
	margin: 1rem;
}

/* colour change when a link is hovered over */
nav > a:hover {
	color: #fa8d28; 
}

.active {
	border-bottom: 1px;
}

/* unordered list with no style */
ul {
	list-style-type: none;
}

/* article main section styling */
.main {
	background: #331302;
	color: beige;
	font-size: large;
	height: 50vh;
	flex: 3 0px;
}

/* aside-left section styling */
.aside1 {
	background: #331302;
	font-size: large;
	list-style-type: none;
}

/* aside-right section styling */
.aside2 {
	background: #331302;
	font-size: large;
	list-style-type: none;
}

.aside {
	flex: 1 auto;
	color: beige;
}

/* footer styling */
.footer {
	background: #b04702;
	color: beige;
	display: inline;
	bottom: 0;
}

/* footer icons styling */
.footer i {
	color: beige;
	font-size: large;
	margin: 1%;
}

/* section and footer layout order */
.aside1 {
	order: 1;
}

.main {
	order: 2;
}

.aside2 {
  order: 3;
}

.footer {
  order: 4;
}

