body {
	margin: 0;
	background-color: #d4c6b4;
}

.wrapper {
	display: flex;
	flex-flow: row wrap;
	text-align: center;
}

.wrapper>* {
	border-radius: 10px;
	flex: 1 100%;
	margin: 10px;
	padding: 10px;
}

h1,
h2,
h3 {
	color: beige;
	text-align: center;
}

/* navigation links */

nav > a {
	text-decoration: none;
	color: #692d02;
	font-size: 110%;
	margin: 1rem;
}

/* colour change when a link is hovered over */
nav > a:hover {
	color: #fa8d28; 
}

.active {
	border-bottom: 1px;
}

.header {
	background-image: url('https://cdn.pixabay.com/photo/2016/08/29/21/24/cafe-1629208_1280.jpg');
	background-repeat: center no-repeat;
	background-size: cover;
	border-radius: 10px;
	padding: 70px 0;
    color: #FFFFFF;
}


.main {
	background: #331302;
	color: beige;
	font-size: large;
	height: 50vh;
	flex: 3 0px;
}

.aside1 {
	background: #331302;
	font-size: large;
	list-style-type: none;
}

.aside2 {
	background: #331302;
	font-size: large;
	list-style-type: none;
}

.aside {
	flex: 1 auto;
	color: beige;
}

